* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(190deg, #4c1f37, #230f1a);
}

h1 {
  font-size: 40px;
  text-align: center;
  text-transform: lowercase;
  color: #fff;
  margin-bottom: 80px;
  font-family: "Open Sans";
}

h2 {
  color: black;
  font-size: 25px;
  text-align: center;
}

strong{
  font-weight: bold;
  color: black;
}

header, footer{
  background: #000;
  min-height: 50px;
  width: 100%;
}

footer{
  position: absolute;
  bottom: 0;
}


main{
  width: 90vw;
  margin: 50px auto;
}

.panorama{
  height: 200px;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 22.25%;
  position: relative;
}

.map {
  display: block;
  margin: auto;
  width: 900px;
}

body,
html {
  height: 100%;
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #f00;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
  z-index: 2;
}
.pin:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #230f1a;
  position: absolute;
  border-radius: 50%;
}
.pulse {
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: 1;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #000;
  animation-delay: 1.1s;
}
@-moz-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
@-o-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.content {
  display: none;
  padding: 20px;
  transform: rotate(45deg) translateX(-40px);
  background: rebeccapurple;
  width: 240px;
  height: 300px;
  position: absolute;
  z-index: 999;
}

.rj {
  top:65%;
  left:39%;
}

.rj:hover{
  z-index: 9999
}

.rj:hover .content {
  display:block;
}

.sp {
  top:64%;
  left:37%;
}

.sp:hover{
  z-index: 9999
}

.sp:hover .content {
  display:block;
}

.fr {
  top:44%;
  left:49.5%;
}

.fr:hover{
  z-index: 9999
}

.fr:hover .content {
  display:block;
}

.es {
  top: 46%;
  left: 47.9%;
}

.es:hover{
  z-index: 9999
}

.es:hover .content {
  display:block;
}

.us {
  top: 45.6%;
  left: 33.4%;
}

.us:hover{
  z-index: 9999
}

.us:hover .content {
  display:block;
}

.tk {
  top: 47%;
  left: 54.5%;
}

.tk:hover{
  z-index: 9999
}

.tk:hover .content {
  display:block;
}

.gr {
  top:41.9%;
  left:51.5%;
}

.gr:hover{
  z-index: 9999
}

.gr:hover .content {
  display:block;
}
